﻿
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | Vinh-Shopper</title>
	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome (dùng CDN đảm bảo load icon) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-Xxj0h+1VYK4L+2B2JvGZK0... (cắt bớt) ..." crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- SweetAlert2 CSS -->
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
	<!-- SweetAlert2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet" asp-append-version="true">
	<link href="~/css/responsive.css" rel="stylesheet">
	<link href="~/css/register.css" rel="stylesheet" asp-append-version="true">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		.item h1,
		.item h2,
		.item p {
			text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
		}
	</style>
</head><!--/head-->

<body>
	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> 0973455740 </a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> vinhtienle004@gmail.com</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row align-items-center">

					<!-- Logo bên trái -->
					<div class="col-sm-2">
						<div class="logo">
							<a href="/"><img src="~/images/thinkpad.jpg" alt="Logo" style="max-height:50px;" /></a>
						</div>
					</div>

					<div class="col-sm-6">
						<form id="searchForm" class="search_box" action="/Home/HomeIndex" autocomplete="off" style="width: 100%; position: relative;">
							<input type="text" id="searchBox" name="keyword"
								   class="form-control" placeholder="Nhập tên sản phẩm bạn cần tìm"
								   style="padding-left: 40px;" value='@(Context.Request.Query["keyword"])' />

							<button type="submit" id="btnSearch"
									style="position: absolute; top: 50%; left: 470px; transform: translateY(-50%);
                       background: none; border: none; color: #888; cursor: pointer;">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>


					<!-- Menu bên phải -->
					<div class="col-sm-4">
						<div class="shop-menu d-flex justify-content-end">
							<ul class="nav">
							
								@if (Context.Session.GetString("UserId") != null) // đã đăng nhập
								{
									<li>
										<a asp-controller="Account" asp-action="Logout" style="left: 200px">
											<i class="fa fa-lock"></i>Chào, @Context.Session.GetString("Username") - Đăng Xuất
										</a>
									</li>
								}
								else // chưa đăng nhập
								{
									<li class="nav-item">
										<a class="nav-link" asp-controller="Account" asp-action="Login" style="left: 250px">
											<i class="fa fa-lock"></i> Login
										</a>
									</li>

								}
								<div class="row">
									<div class="col-sm-4">
										<div class="logo pull-left">
											<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
										</div>
									</div>
								</div>
						</div>

					</div><!--/header-middle-->

					<div class="header-bottom">
						<!--header-bottom-->
						<div class="container">
							<div class="row">
								<div class="col-sm-9">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="mainmenu pull-left">
										<ul class="nav navbar-nav collapse navbar-collapse">
											<li><a asp-controller="Home" asp-action="HomeIndex"><i class="fa-solid fa-house"></i> Trang chủ </a></li>
											<li><a asp-controller="Cart" asp-action="CartIndex"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng </a></li>
											<li><a asp-controller="WishList" asp-action="WishListIndex"><i class="fa-solid fa-heart"></i> Yêu thích</a></li>
											<li><a asp-controller="CheckOut" asp-action="OrderHistory"><i class="fa-solid fa-clock"></i> Lịch sử đơn hàng</a></li>
											<li><a asp-controller="LuckyWheel" asp-action="Index"><i class="fa-solid fa-dharmachakra"></i> Vòng quay may mắn</a></li>											
										</ul>

									</div>
								</div>
								<div class="col-sm-3">
								</div>
							</div>
						</div>
					</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="slider">
		<!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">

							<!-- Slide 1 -->
							<div class="item active" style="background: url('/images/ngokhong1.jpg') center/cover no-repeat; min-height: 450px;">
								<div class="col-sm-6">
									<h1><span>VINH</span>-SHOPPER</h1>
									<h2>CẬU BÉ NGU NGƠ</h2>
									<p></p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>

							<!-- Slide 2 -->
							<div class="item" style="background: url('/images/ngokhong2.jpg') center/cover no-repeat; min-height: 450px;">
								<div class="col-sm-6">
									<h1><span>VINH</span>-SHOPPER</h1>
									<h2>CẬU BÉ NGU NGƠ</h2>
									<p></p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>

							<!-- Slide 3 -->
							<div class="item" style="background: url('/images/laptop.jpg') center/cover no-repeat; min-height: 450px;">
								<div class="col-sm-6">
									<h1><span>VINH</span>-SHOPPER</h1>
									<h2>CẬU BÉ NGU NGƠ</h2>
									<p></p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				@RenderBody()
			</div>
	</section>

	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>V</span>-shopper</h2>
							<p>Uy tín làm nên thương hiệu</p>
						</div>
					</div>
					<div class="col-sm-10">
						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="https://www.facebook.com/share/19hSea78hv/?mibextid=wwXIfr" style="height: 200px;">
									<div class="iframe-img" style="height: 200px;">
										<img src="/images/facebook_files/z7101113145272_44daea22e7769e857887d1c84dafef7a.jpg" alt="" style="height: 200px"/>
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Hoàng Quốc Vinh</p>
								<h2>CEO</h2>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="https://www.facebook.com/share/16BTCbVXSR/?mibextid=wwXIfr">
									<div class="iframe-img" style="height: 200px;">
										<img src="" alt="Đoàn Trung Hiếu" style="height: 200px;" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Đoàn Trung Hiếu</p>
								<h2>Nhân viên</h2>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href=" https://www.facebook.com/share/17A87Jj7rU/?mibextid=wwXIfr">
									<div class="iframe-img" style="height: 200px;">
										<img src="" alt="Nguyễn Văn Dũng" style="height: 200px;" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Nguyễn Văn Dũng</p>
								<h2>Nhân viên</h2>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="https://www.facebook.com/share/17CQX34roy/?mibextid=wwXIfr">
									<div class="iframe-img" style="height: 200px;">
										<img src="" alt="Ninh Xuân Bắc" style="height: 200px;" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Ninh Xuân Bắc</p>
								<h2>Nhân viên</h2>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="https://www.facebook.com/share/1ACn7tGr6n/?mibextid=wwXIfr">
									<div class="iframe-img" style="height: 200px;">
										<img src="" alt="Tạ Thành Công" style="height: 200px;" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Tạ Thành Công</p>
								<h2>Nhân viên</h2>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>


		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Create by 2004 V-SHOPPER Inc. All rights reserved.</p>		
				</div>
			</div>
		</div>

	</footer><!--/Footer-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/Common.js"></script>
	<script src="~/js/main.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>