@model List<WebBanHang.Models.CategoriesModel>

<div class="panel-group category-products">
    @foreach (var cat in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" class="category-filter" data-category-id="@cat.CategoryID">
                        @cat.CategoryName
                    </a>
                </h4>
            </div>
        </div>
    }
</div>
