@model IEnumerable<WebBanHang.Models.OperatingSystemModel>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a asp-action="OperatingSystemIndex" asp-controller="OperatingSystem" asp-route-id="@item.OperatingSystemID">
                    @item.OperatingSystemName
                </a>
            </h4>
        </div>
    </div>
}
