@model List<WebBanHang.Models.OperatingSystemModel>

<div class="panel-group category-products">
    @foreach (var cat in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" class="os-filter" data-os-id="@cat.OperatingSystemID">
                        @cat.OperatingSystemName
                    </a>
                </h4>
            </div>
        </div>
    }
</div>
