@model IEnumerable<ProductModel>
<div class="col-sm-3">
    @Html.Partial("_SidebarParticial")
</div>

<div class="col-sm-9 padding-right">
        <!--features_items-->

        <div class="features_items">
            <h2 class="title text-center">Features Items</h2>

            <div id="productList">
              @await Html.PartialAsync("HomeIndexPartial", Model)
            </div>
        </div>
    </div>
</div>

}
@* @section Scripts {
    <script>
        $(document).ready(function () {

            function doSearch() {
                var keyword = $("#searchBox").val();
                $.get("@Url.Action("Search", "Product")", { keyword: keyword }, function (data) {
                    $("#productList").html(data);
                });
            }

            // Bấm nút tìm kiếm
            $("#btnSearch").click(function () {
                doSearch();
            });

            // Bấm Enter trong ô input
            $("#searchBox").keydown(function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // Ngăn form submit reload trang
                    doSearch();
                }
            });
        });
    </script>
}

 *@
