<div class="left-sidebar">
	<h2>Operating System</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:operating-system></vc:operating-system>
	</div>
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->				
		<vc:categories></vc:categories>
	</div><!--/category-products-->
	<h2>Brands</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:brands></vc:brands>
	</div><!--/category-products-->
</div>
